body{
  text-align: center;
  margin: 2%;
}
ul {
  list-style-position: inside;
  list-style-type:square;
}
.footer-link{
  display:inline;
  margin-left: 2%
}
.footer-link a{
  text-decoration: none;
  color: white;
}
div#footer {
  text-align: start;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #CCC;
  background: #333;
  padding: 8px;
}
